
.splide {
    width: 100%;
    height: 282px;
    border: 5px solid greenyellow;
}

.splide__slide{
    width: 200px;
    height: 282px;
    padding: 0px;
    margin: 0px;
    border: 5px solid blue
}