
/* Estilo de Home */ 
.home__container{
    width: 90%;
    height: 70%;
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
    margin-left: 15px;
    border-bottom: 1px solid gray;
    scrollbar-width: none;
}

.home__container__divisor{
    width: 100%;
    height: 10%;
    padding:  5px 35px;
}

.home__container__titulo{
    color: white;
    font-weight: 500;
}

.carta__album{
    width: 210px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}

.carta__album__img{
    width: 200px;
    height: 200px;
    border-radius: 22px;
}

.carta__album__titulo{
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.carta__album__description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(199, 199, 199);
}