
/* Estilo de Home */ 
.home__container{
    width: 99%;
    height: 300px;
    padding: 10px;
    border: 5px solid rgb(234, 31, 187);
}

.home__container__design{
    width: 98%;
    height: 87%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 18px;
    margin: auto;
    border: 1px solid blue;
    background: #111111;
    background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgb(39, 39, 39) 49%, rgb(36, 36, 36) 69%, rgb(20, 20, 20) 100%);
}

.home__container__divisor{
    width: 99%;
    height: 80px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:  6px 20px; 
    border: 1px solid blue;   
}

.home__container__titulo{
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.home__container__text{
    font-size: 16px;
    font-weight: 200;
    border: 1px solid red;
}

/* Estilos para las cartas de los albums y canciones (Tienen el mismo estilo) */
.carta__album, .carta__song{
    width: 160px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    cursor: pointer;
    border: 1px solid blue;
}

.carta__album{
    display: flex;
    flex-direction: column;
}

.carta__album__img, .carta__song__img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.carta__album__titulo, .carta__song__titulo{
    font-size: 15px;
    padding-top: 5px;
    font-weight: 600;
    color: white;
}

.carta__album__description, .carta__song__description{
    font-size: 13px;
    font-weight: 400;
    color: rgb(199, 199, 199);
}


.carta__album__busqueda{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    cursor: pointer;
}

.carta__album__btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(43, 43, 43);
    border: none;
    cursor: pointer;
}

.carta__album__btn:hover{
    background-color: rgb(145, 145, 145);
}

.carta__song__btn{
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    margin-top: 110px;
    margin-left: 110px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(1, 169, 7);
    border: none;
    cursor: pointer;
}


/* Estilos para la barra de orden */
.home__container__order{
    width: 98%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
    padding: 0px 50px;
    background-color: rgb(44, 44, 44);
}

.order__information__num1{
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.order__information__number{
    width: 40%;
    height: 100%;
    margin-right: auto;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.order__information__title{
    width: 50%;
    height: 100%;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.order__information__num2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    gap: 45px;
}

/* Estilos para los resultados de busqueda */
.home__container__design__songs{
    width: 98%;
    height: 87%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 18px;
    margin: auto;
}

.home__container__titulo__busqueda{
    font-weight: 500;
    color: white;
}

.home__container__songs{
    width: 98%;
    margin: auto;
    padding-top: 10px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    background-color: rgb(27, 27, 27);
}

.trak__item__song{
    width: 95%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(124, 124, 124);
}

.track__item__song__division__num1{
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.track__item__song__division__num2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

.track__item__song__img{
    border-radius: 4px;
}

.track__item__duration{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.track__item__album__title, 
.track__item__song__duration, 
.track__item__song__rank{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para los resultados de clickear un album */
.home__divisor__album{
    width: 98%;
    height: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #002b2b;
    background: linear-gradient(0deg, rgba(0, 43, 43, 1) 0%, rgba(0, 75, 77, 1) 17%, rgba(0, 125, 128, 1) 56%, rgba(92, 247, 255, 1) 100%);
}

.home__album__img{
    width: 210px;
    margin-left: 30px;
    border-radius: 13px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.home__album__text, .home__album__artist{
    color: white;
    font-weight: 400;
}

.home__album__titulo{
    font-size: 40px;
    font-weight: 700;
}

.home__album__songs{
    width: 100%;
    height: 60%;
    overflow-y: auto;
    scrollbar-width: none;
}

.track__item{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.track__item__img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 12px;
}


/* Media queries para pantallas chicas de escritorio*/
@media (max-width: 1024px) and (min-height: 600px){

    .home__container{
        grid-template-columns: repeat(4, 1fr);
    }
    .home__container__design{
        height: 80%;
    }
    .order__information__num1{
        width: 32%;
    }
    .home__container__order{
        width: 98%;
        padding: 0px;
    }
    .home__album__img{
        width: 150px;
    }
    .home__album__titulo{
        font-size: 27px;
    }
    .track__item__song__division__num1{
        width: 15%;
        font-size: 14px;
    }
    .track__item__song__division__num2{
        width: 36%;
        font-size: 14px;
        padding-left: 10px;
    }
    .track__item__song__img{
        width: 50px;
    }
    .track__item__album__title, 
    .track__item__song__duration, 
    .track__item__song__rank{
        width: 40%;
        font-size: 14px;
    }

}

@media (max-width: 1024px) and (min-height: 1366px){

    .home__container__design{
        height: 85%;
    }
    .home__divisor__album{
        height: 30%;
    }
    .home__container__order{
        width: 98%;
    }
    .home__album__img{
        width: 25%;
    }

}

@media (max-width: 920px){

    .home__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 20px;
    }
    .home__container__order{
        width: 98%;
    }
    .order__information__num1{
        width: 43%;
        padding-left: 20px;
    }
    .order__information__num2{
        gap: 3px;
    }
    .track__item__song__division__num1{
        width: 22%;
    }
    .track__item__album__title{
        font-size: 12px;
    }
    .home__divisor__album{
        height: 30%;
    }
    .home__album__titulo{
        font-size: 30px;
    }
}

@media(max-width: 475px){

    .home__container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
    }

    .home__container__divisor{
        padding: 10px 10px;
        max-height: 90px;
    }
    .home__container__titulo{
        font-size: 30px;
    }

    .home__container__design{
        width: 94%;
        height: 89%;
    }

    /* Estilos de las canciones */
    .home__container__order{
        display: none;
    }
    .track__item__number{
        display: none;
    }
    .track__item__song__division__num1{
        width: 30%;
    }
    .track__item__song__division__num2{
        width: 70%;
    }

    .order__information__num2{
        display: none;
    }
    .track__item__duration{
        display: none;
    }

    /* Estilos del album*/
    .home__divisor__album{
        height: 52%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home__album__img{
        width: 50%;
    }
    .home__album__principal__information{
        width: 88%;
    }
    .home__album__titulo{
        font-size: 20px;
    }
    .carta__album{
        width: 170px;
        height: 250px;
    }
    .carta__album__img{
        width: 150px;
        height: 150px;
        border-radius: 8px;
    }
    .carta__album__titulo{
        font-size: 15px;
    }
    .carta__album__description{
        font-size: 12px;
    }
    

}