/* Estilo de Busqueda */ 
.busqueda__container{
    width: 100%;
    height: 20%;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}

.input__busqueda{
    width: 500px;
    height: 60px;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 18px;
    border: none;
}

