.principal__container{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.division__container{
    height: 90%;
    display: flex;
    flex-direction: row;
}

.division{
    width: 100%;
    border: 2px solid seagreen;
}


@media (max-width: 1024px) and (min-height: 1366px){

    .division__container{
        border: 5px solid rgb(3, 250, 40);
        height: 100%;
    }

    .division{
        border: 10px solid salmon;
    }
}

/* Media queries para pantallas chicas de escritorio*/
@media (max-width: 1024px) and (min-height: 600px){

    .division{
       height: 100%;
    }

    .division__container{
        height: 85%;
        border: 5px solid blue;
    }
}

@media (max-width: 900px){

    .division__container{
        height: 90%;
    }
}