.principal__container{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.division__container{
    height: 90%;
    display: flex;
    flex-direction: row;
}

.division{
    width: 100%;
    border: 3px solid salmon;
}

@media (max-width: 1024px) and (max-height: 1366px){

    .division__container{
        height: 90%;
    }

    .division{
        height: 100%;
    }
}

/* Media queries para pantallas chicas de escritorio*/
@media (max-width: 1024px) and (max-height: 600px){

    .division{
       height: 98%;
    }

    .division__container{
        height: 85%;
    }
}

@media (max-width: 920px){

    .division__container{
        height: 90%;
    }
}

@media(max-width: 475px){

    .division__container{
        height: 86%;
        border: 2px solid blue;
    }

    .division{
        border: 5px solid greenyellow;
    }
}