
/* Estilo del Reproductor */ 
.reproductor__container{
    width: 100%;
    height: 100%;
    margin-top: auto;
    display: flex;
    z-index: 10;
    background-color: #0a0a0a;
}

.division__reproductor{
    height: 120px;
    margin-top: auto;
    display: flex;
    max-height: 180px;
}

/* Reproductor parte izquierda */
.reproductor__container__cancion{
    width: 33%;
    height: 90%;
}

.reproductor__cancion__divisor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 22px;
}

.reproductor__cancion__artista{
    font-size: 14px;
    font-weight: 200;
}

.reproductor__cancion__details{
    width: 100%;
    text-align: left;
}

.reproductor__cancion__title{
    font-size: 18px;
    font-weight: 500;
}
/* Reproductor controles de play y pausa */
.reproductor__container__controles{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reproductor__container__controles__division{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0px;
    gap: 40px;
}

.reproductor__back, .reproductor__next{
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.reproductor__btn{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

/* Barra de progreso */
.reproductor__container__barraProgreso{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.barra__progreso{
    width: 60%;
    background-color: white;
    color: white;
}

/* Reproductor de volumen */
.reproductor__container__volumen{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 32px;
    gap: 15px;

}

/* Colores */
.reproductor-bg-1{
    background: rgb(25, 126, 151);
}

.reproductor-bg-2{
    background-color: rgb(155, 111, 28);
}

.reproductor-bg-3{
    background: rgb(169, 29, 64);
}

.reproductor-bg-4{
    background: rgb(32, 32, 176);
}

.reproductor-bg-5{
    background: rgb(146, 40, 36);
}

.reproductor-bg-6{
    background: rgb(119, 23, 119);
}



/* Media queries para pantallas chicas de escritorio*/
@media (max-width: 1024px) and (min-height: 600px){
    .reproductor__container{
        height: 100%;
        align-items: center;
    }

    .reproductor__container__controles{
        padding-top: 10px;
    }
}

/* --------------Media quieres------------ */
@media (max-width: 900px){

    .reproductor__cancion__divisor{
        height: 100%;
        padding-left: 3px;
    }
    .reproductor__cancion__title{
        font-size: 17px;
    }

    /* Controles*/
    .reproductor__container__controles{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 475px){

    .division__reproductor{
        height: 100px;        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .reproductor__container{
        height: 70%;
        width: 95%;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
        border-radius: 8px;
    }
    .reproductor__container__cancion{
        width: 85%;
    }
    .reproductor__cancion__divisor{
        width: 100%;
        padding-left: 8px;
        overflow: hidden;
    }
    .reproductor__cancion__title{
        font-size: 16px;
    }
    .reproductor__container__controles{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .reproductor__btn{
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 0px;
    }
    .reproductor__back, .reproductor__next{
        display: none;
    }

    .reproductor__container__volumen{
        display: none;
    }

    .reproductor__container__barraProgreso{
        display: none;
    }
}