
/* Estilo del Reproductor */ 
.reproductor__container{
    width: 100%;
    height: 100%;
    margin-top: auto;
    display: flex;
    z-index: 10;
    background-color: #0a0a0a;
}

.division__reproductor{
    height: 120px;
    margin-top: auto;
    display: flex;
    max-height: 180px;
}

/* Reproductor parte izquierda */
.reproductor__container__cancion{
    width: 30%;
    height: 100%;
}

.reproductor__cancion__divisor{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproductor__cancion__img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.reproductor__cancion__details{
    margin-left: 20px;
}

/* Reproductor controles de play y pausa */
.reproductor__container__controles{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproductor__btn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


/* Reproductor de volumen */
.reproductor__container__volumen{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}




